# Copyright SecureKey Technologies Inc. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#############################################################
# Configurations for Snaps
snaps:
  - name: "examplesnap"
    enabled: true
    initArgsStr:
      - "example snap init arg"
      - "second argument"

  - name: "exampleremotesnap"
    enabled: true
    snapUrl: "remote.url.address:8009"
    tlsEnabled: true
    tlsRootCertFile: /etc/hyperledger/msp/snaps/remote.url.address/cacerts/ca-cert.pem

  - name: "httpsnap"
    enabled: true

snap:
  # Configuration for SNAP daemon
  snapsd:
    loglevel: debug

  # Configurations for SNAP server
  server:
    port: 8089
    # TLS Settings for p2p communications
    tls:
      enabled: true
      cert:
        file: tls/cert.pem
      key:
        file: tls/key.pem
      # Root cert file for selfsigned certificates
      # This represents a self-signed x509 cert that was used to sign the cert.file,
      # this is sent to client to validate the recived certificate from server when
      # establishing TLS connection.
      rootcert:
        file: tls/ca-cert.pem

    loglevel: debug

  # Configurations for Central Snaps Dispatcher client (used for snap-to-snap calls)
  client:
    dispatcher: localhost:8089
    # TLS Settings for p2p communications
    tls:
      enabled: true
      # Root cert file for selfsigned certificates
      # This represents a self-signed x509 cert that was used to sign the cert.file,
      # this is sent to client to validate the recived certificate from server when
      # establishing TLS connection.
      rootcert:
        file: tls/ca-cert.pem

# Configuration for HTTP Snap
httpsnap:
 tls:
  caCerts:
  - httpsnap/tls/test-ca.crt
  - httpsnap/tls/abc-ca.crt
  clientCert: httpsnap/tls/test-client.crt
  clientKey: httpsnap/tls/test-client.key
  namedClientOverridePath: httpsnap/tls/override
 schemas:
  - type: application/json
    request: httpsnap/schema/request.json
    response: httpsnap/schema/response.json
 
# client configuration
client:
 tls:
  enabled: true

 security:
  enabled: true
  hashAlgorithm: "SHA2"
  level: 256

 logging:
  level: debug

 keystore:
  path: "/tmp/msp"

 # network provides a static definition of a Hyperledger Fabric network
 network:
  # list of ordering service nodes
  orderers:
   # orderer name
   orderer0:
    host: "127.0.0.1"
    port: 7050
    tls:
     # Certificate location absolute path
     certificate: "tls/orderer-ca-cert.pem"
     # For testing only: overrides the virtual host name of the authority
     serverHostOverride: ""
  # ap of member organizations forming the network
  organizations:
    # Org1 name
    peerorg1:
      # Membership Service Provider ID for this organization
      mspID: "Org1MSP"
      # CA config defines the fabric-ca instance that issues identities for this org
      ca:
       # TLS secured connections with the CA
       tlsEnabled: false
       # CA name
       name: "ca-org1"
       # CA URL. Note: https prefix required for TLS
       serverURL: "http://localhost:7054"


 enrolment:
  cert:
   file: testcerts/ecert/cert.pem
  key:
   file: testcerts/ecert/key.pem

 membership:
  pollinterval: 5
